<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="~/Images/carousel4.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel13.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel14.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel15.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel5.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel6.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel7.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel8.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel9.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel10.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel11.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="~/Images/carousel12.jpg" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>