<h3 style="text-align:center;">
    Please contact us by sending an email using the button below

</h3>

<div style="text-align:center; font-size:20px;">
    <email address="madiyar2403@mail.ru" content="Contact us"></email>
</div>